.emptyData{
    font-size: 40px;
    padding: 100px 20px;
    text-align: center;
    font-family: "Tapestry", cursive;
}

$font-familyTapestry: 'Tapestry', cursive;

.favouriteWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-left: 50px;
    width: 70%;
    .removeBtn{
        border: 1px solid #fff;
        background-color: transparent;
        padding: 7px 17px;
        margin-top: 5px;
        color: #fff;
        cursor: pointer;
        font-family: $font-familyTapestry;
        font-size: 15px;
    }
}

@media (max-width: 1100px) { 
    .favouriteWrapper  { 
        grid-template-columns: 1fr 1fr;

        img{
            width: 200px;
        }
    } 
}

@media (max-width: 600px) {
    .favouriteWrapper  {
        display: grid;
        grid-template-columns: 1fr;

        .removeBtn{
            padding: 3px 5px;
            font-size: 10px;
        }
    }

}