$font-familyTapestry: 'Tapestry', cursive;

.favouriteWrapper{
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}
.backBtn {
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    margin-bottom: 20px;
    font-family: "Tapestry", cursive;
    display: inline-block;
    margin-left: 50px;
}

.qtyLove {
    font-family: "Tapestry", cursive;
    padding-left: 50px;
    font-size: 17px;
    padding-bottom: 10px;
}