$font-familyTapestry: 'Tapestry', cursive;

.nameStl {
    font-size: 20px;
    font-weight: 300;
    font-family: $font-familyTapestry;
}

.nameSp {
    font-size: 25px;
    margin-left: 10px;
    font-family: $font-familyTapestry;
}

@media (max-width: 600px) {
    .nameStl {
        font-size: 14px;
    }
    .nameSp {
        font-size: 14px;
    }
}