$font-familyTapestry: 'Tapestry', cursive;

.titleInfo {
    font-size: 25px;
    font-family: $font-familyTapestry;
}

.name{
    font-size: 20px;
    font-weight: 300;
    font-family: $font-familyTapestry;
}