.herosWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-left: 50px;
    width: 300px;
}

@media (max-width: 1100px) { 
    .herosWrapper { 
        display: flex; 
        flex-direction: column; 
    } 
    .herosWrapper .heroWrapper { 
        display: flex; 
    } 
}

@media (max-width: 600px) {
    .herosWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}