.footerWrapper {
    text-align: center;
    .footer{
        font-size: 12px;
    }
    .author {
        color: #e63946;
    }

    .linkAuthor {
        text-decoration: none;
    }
}

@media (max-width: 1100px) {
    .footerWrapper{
        margin-top: 30px;
    }
}