body {
    background-color: #000;
    color: #fff;
    padding-left: 30px;
    padding-top: 30px;
    background-image: url('./img/1020142.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-position-y: 20px;
}

.herosWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    .heroWrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

.btn {
    border: 2px solid #fff;
    background-color: transparent;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    position: relative;
    margin-top: 20px;
    font-weight: 600;
}

.btn::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all 0.9s;
    background-color: red;
}

.btnDescription {
    z-index: 9999;
    position: relative;
    transition: all 0.9s;
}

.btn:hover::after {
    width: 100%;
}
.btn:hover .btnDescription {
    color: #000;
}

.nameStl {
    font-size: 20px;
    font-weight: 300;
}

.nameSp {
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    margin-left: 10px;
}

@media (max-width: 489px) {
    .Heroes_herosWrapper__xWLXL .Heroes_heroWrapper__QZpET{
        grid-template-columns: 1fr;
    }
}