$font-familyTapestry: 'Tapestry', cursive;
.qty {
    padding-left: 80px;
    margin-bottom: 20px;
}

.navWrapper {
    align-items: center;
    padding: 20px 50px;
    display: flex;
    .inputWrapper{
        width: 70%;
        .inputHero{
            width: 100%;
        }
    }
    .social {
        display: flex;
        margin-left: 20px;
        .instaIcon {
            text-decoration: none;
            font-size: 30px;
            color: #FB5246;
            margin-right: 10px;
        }
        .faceIcon {
            text-decoration: none;
            font-size: 30px;
            color: #3b5998;
            margin-right: 10px;
        }
    }
}


.inputWrapper {
    .inputHero {
        padding: 10px 30px;
        font-family: $font-familyTapestry;
        font-size: 17px;
        font-weight: 700;
        color: #000;
    }
}


.favouriteLists{
    text-decoration: none;
    font-size: 17px;
    font-family: $font-familyTapestry;
    color: #fff;
    display: inline-block;
}

@media (max-width: 600px) {
    .navWrapper{
        display: block;
        .inputWrapper{
            width: 100%;
        }
        .social {
            margin-left: 0;
            margin-top: 20px;
        }
        .favouriteLists{
            margin-top: 10px;
        }
    }
}