$font-familyTapestry: 'Tapestry', cursive;

.inputWrapper {
    text-align: center;
    margin-bottom: 30px;
    .inputHero {
        padding: 10px 30px;
        width: 60%;
        font-family: $font-familyTapestry;
        font-size: 17px;
        font-weight: 700;
        color: #000;
    }
}